table {
    border-collapse: collapse;
    background-color: gainsboro;
}

table td {
    border: solid 1px black;
    padding: 25px;
}

.timer {
    margin: 10px auto;
    width: 50%;
    background-color: #F33;
    font-weight: bold;
    color: #FFF;
    font-size: 35px;
    border-radius: 20px;
    padding: 10px;
}

.animation {
    animation: blinkAnimeS1 0.6s infinite alternate;
}

@keyframes blinkAnimeS1 {
    0% {
        background: yellow;
        color: red;
    }

    100% {
        background: black;
        color: red;
    }
}