body {
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    background-color: gainsboro;
}

table td {
    border: solid 1px black;
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
}

.btn:hover {
    cursor: pointer;
}

.btn {
    font-size: 22px;
    border-radius: 15px;
    background-color: skyblue;
    color: blueviolet;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.timer-box {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    background-color: #F33;
    font-weight: bold;
    color: #FFF;
    font-size: 35px;
    border-radius: 20px;
    padding: 10px;
}

.animation {
    animation: blinkAnimeS1 0.6s infinite alternate;
}

@keyframes blinkAnimeS1 {
    0% {
        background: yellow;
        color: red;
    }
    100% {
        background: black;
        color: red;
    }
}